---
layout: 
---
<!DOCTYPE HTML>
<html lang="en">




{%- include head.html -%}
{%- include header.html -%}

<div class="wrapper">
<!-- <body> -->



  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:0%;padding-right:3%; padding-top: 5%;width:66.5%;vertical-align:middle">
              <!-- <h1 style="font-family:'Chakra Petch';font-weight: 800;">Abrar Anwar</h1>
              <h1 style="font-family:'Righteous';font-weight: 200;">Abrar Anwar</h1>
              <h1 style="font-family:'Russo One';font-weight: 100;">Abrar Anwar</h1> -->
              <!-- <h1 style="font-weight: 600;">Abrar Anwar</h1> -->

              <p>
                Hi! I'm an Ph.D student at the University of Southern California, where I work with <a target="_blank" href="https://jessethomason.com/">Jesse Thomason</a> on language grounding and human-robot interaction.

                I build robots that interact with their environment and other humans, and study how humans percieve their actions.

              </p>
              <p>
                I was a visiting scholar at Cornell with <a target="_blank" href="https://emprise.cs.cornell.edu/"> Tapo Bhattacharjee</a> working on assistive robotics for people with mobility limitations.
                Previously at UT Austin, I worked on human-robot interaction with the 
                <a target="_blank" href="https://www.cs.utexas.edu/~larg/bwi_web/">Building-Wide Intelligence Project</a> with <a target="_blank" href="http://justinhart.net/">Justin Hart</a> and <a target="_blank" href="https://www.cs.utexas.edu/~pstone/">Peter Stone</a>.
                I also completed an honors thesis with <a target="_blank" href="https://cvcweb.oden.utexas.edu/cvcwp/"> Chandrajit Bajaj</a>.
            </p>

            <p>

              I previously interned at <a target="_blank" href="https://www.sandia.gov/index.html">Sandia National Labs</a> with 
              the <a target="_blank" href="https://neuroscience.sandia.gov/research/NERL_Lab.html">Neural Exploration and Research Lab</a>. 
              Over three years, I had the pleasure of working with <a target="_blank" href="https://scholar.google.com/citations?user=fIhoSlAAAAAJ&hl=en">James Aimone</a>,
              <a target="_blank" href="https://neuroscience.sandia.gov/people/Vineyard.html">Craig Vineyard</a>, and many others!
            </p>

            <!-- <b>abrar.anwar🙃usc.edu</b> -->

            <a style="border-bottom: none; color:#31918D;text-align: center;" href="mailto:abrar.anwar@usc.edu" target="_blank">





          
              <!-- <p style="text-align:center">
                <a class="button" target="_blank" href="mailto:abrar.anwar@usc.edu">email</a>
                <a class="button" target="_blank" href="https://github.com/AbrarAnwar">github</a> 
                <a class="button" target="_blank" href="https://www.linkedin.com/in/abraranwar"> linkedin </a> 
                <br>
                <a class="button" target="_blank" href="https://twitter.com/_abraranwar"> twitter </a>
                <a class="button" target="_blank" href="https://scholar.google.com/citations?user=c6E-5tcAAAAJ&hl=en"> scholar </a>
              </p> -->

              
            </td>
            <!-- <td style="padding:0%;width:33%;max-width:33%"> -->
              <td style="padding:0%;padding-right:0%; padding-left:1%; padding-top: 5%;width:33%;vertical-align:middle">



              <table style="padding:0%;width:100%;max-width: 100%;text-align: center;">
                <tr style="padding:0%">
                  <td style="padding:0%; text-align: center;">
                    <!-- <img style="width:100%;max-width:100%" alt="profile photo" src="/assets/images/index/profile_circle.png"> -->
                    <img style="width:100%;max-width:100%;border-radius: 50%;" alt="profile photo" src="/assets/images/index/abrar.png">

                  </td>
                </tr>

                <tr style="padding:0%;text-align: center;">

                  <td style="padding:0%;text-align: center;width:100%;max-width: 100%;float:left;" >
                    <div style="text-align:center">abrar.anwar [at] usc [dot] edu</div>

                    <p style="text-align:center; font-size:34px">
                      <a class="link_button" style="border-bottom: none;" href="https://scholar.google.com/citations?user=c6E-5tcAAAAJ&hl=en" target="_blank">
                        <i class="ai ai-google-scholar-square"></i>
                      </a>
        
                      <!-- <a class="link_button" style="border-bottom: none;" href="mailto:abrar.anwar@usc.edu" target="_blank">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                      </a> -->
        
                      <a class="link_button" style="border-bottom: none;" href="https://github.com/abraranwar" target="_blank">
                        <i class="fab fa-github"></i>
                      </a>
                      <a class="link_button" style="border-bottom: none;" href="https://www.linkedin.com/in/abraranwar" target="_blank">
                        <i class="fab fa-linkedin"></i>
                      </a>
                      <a class="link_button" style="border-bottom: none;" href="https://twitter.com/_abraranwar" target="_blank">
                        <i class="fab fa-twitter"></i>
                      </a>
                      <a class="link_button" style="border-bottom: none;"  href="{{ '/assets/abrar_cv.pdf' | relative_url }}" target="_blank">
                        <i class="ai ai-cv"></i>
                      </a>
                  </p>
                  </td>

                </tr>

            </table>

            </td>
          </tr>
        </table>

        {%- include news.html -%}

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0%;width:100%;vertical-align:middle">
              <h1 align="center">research</h1>
              <!-- <p>
                I'm interested in robotics, machine learning, neural networks, and computer vision.
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">


          {% assign postsByYear =
            site.categories.items | group_by_exp:"post", "post.date | date: '%Y'" %}
          

          {% for year in postsByYear %}
          <tr><td><h3>{{year.name}}</h3></td></tr>



            {% for post in year.items %}


            {% for cat in post.categories %}
                {% if cat == 'research' %}
              

          <tr>
            <td style="padding:0%;width:27.5%;vertical-align:middle;min-width:120px;">
              <img src="{{post.image}}" alt="project image" style="height:auto; max-width:100%;" />
            </td>
            <td style="padding:1.5%;width:100%;vertical-align:middle;margin:auto">

              <font style="font-size: 18px;"><b>{{post.title}}</b></font>
              <br>

              <font style="font-size: 14px;">{{post.authors}}</font>
              <br>

              <font style="font-size: 14px;" color="#7a7a7a">{{post.excerpt | remove: '<p>' | remove: '</p>'}}</font>
              <br>
              <br>


              <!-- <br> -->
              <font style="font-size: 14px;"><em>{{post.venue}}</em>, {{ post.date | date: "%Y" }} </font>
              <br>

              {% if post.paper %}
              <a class="button" href="{{post.paper}}"><b>paper</b></a> 
              {% endif %}
              {% if post.arxiv %}
              <a class="button" href="{{post.arxiv}}"><b>arxiv</b></a> 
              {% endif %}
              {% if post.tech_report %}
              <a class="button" href="{{post.tech_report}}"><b>tech report</b></a> 
              {% endif %}
              {% if post.video %}
              <a class="button" href="{{post.video}}"><b>video</b></a> 
              {% endif %}
              {% if post.code %}
              <a class="button" href="{{post.code}}"><b>code</b></a> 
              {% endif %}
              {% if post.poster %}
              <a class="button" href="{{post.poster}}"><b>poster</b></a> 
              {% endif %}
              {% if post.slides %}
              <a class="button" href="{{post.slides}}"><b>slides</b></a> 
              {% endif %}

              <p></p>

            </td>
          </tr>

          {% endif %}
          {% endfor %}
          {% endfor %}
          {% endfor %}
        </table>




        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
<!-- </body> -->
</div>
</html>
